{% extends "./layouts/main.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
        </div>
    </div>
</div>
{% endblock %}